.ac-suggest {
    position: absolute;
    border: 1px solid #ccc;
}

.ac-suggest ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    background-color: #fff;
}

.ac-suggest li.highlight {
    background-color: #ef8;
}

.ac-suggest:hover {
    cursor: default;
}